.App {
  text-align: center;
}

.TodoList {
  list-style: none;
  margin: 10px;
}

.TodoItem {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  margin: 10px;
}

input:checked + span {
  text-decoration: line-through;
}

span:last-child {
  color: red;
  cursor: pointer;
}